{% extends 'base.html.twig' %}

{% block title %}KindCities | Services for Refugees{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>KindCities</h1>
    <h2>for Refugees</h2>

    <img>

    <div><a href=" {{ path('app_login') }}">I have an account</a></div>
    <div><a href=" {{ path('show_register') }}">I don't have an account</a></div>
</div>
{% endblock %}
