{% extends 'base.html.twig' %}

{% block title %}KindCities | Services for Refugees {% endblock %}

{% block body %}

{# <h1>A {{service.categorie.name}} by {{service.host.firstname}}</h1> #}
<h2>{{service.name}}</h2>
<div>{{service.description}}</div>

{% endblock %}