{% extends 'base.html.twig' %}

{% block title %}KindCities | Services for Refugees {% endblock %}

{% block body %}

{{ form_start (form) }}
{{ form_rest (form) }}
{# <input type="submit" value="Search" class="btn btn-primary"> #}
<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Search</button>
{{ form_end (form) }}

{% endblock %}
