{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello, {{ app.user.firstname }}</h1>

    <div><a href=" {{ path('search_service') }}">Find a service</a></div>
    <div><a href=" {{ path('user_reservation') }}">See my reservations</a></div>
    <div><a href=" {{ path('refugee_profile') }}">See my profile</a></div>
</div>
</div>
{% endblock %}
