{% extends 'base.html.twig' %}

{% block title %}Hello HostController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello, {{ app.user.firstname }}</h1>

    <div><a href=" {{ path('create_service') }}">Offer a new service</a></div>
    <div><a href=" {{ path('host_reservation') }}">See my reservations</a></div>
    <div><a href="#">See my services</a></div>
    <div><a href="#">Update my profile</a></div>
</div>
{% endblock %}
